@page
@model clinicHealth.Pages.DoctorPage.editpatientModel
@{
}<br>
<h2>Edit Patient</h2>
@if(Model.errorMessage.Length>0){
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <strong>@Model.errorMessage</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="close"></button>
    </div>
}
<form method="POST">
    <input type="hidden" name="id" value="@Model.patient.id"/>
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label"> Full Name</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="name" value="@Model.patient.full_name">
        </div>
    </div>
     <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Year of birth</label>
        <div class="col-sm-6">
            <input type="date" class="form-control" name="year" value="@Model.patient.year_of_birth">
        </div>
    </div>
        <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Age</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="Age" value="@Model.patient.Age">
        </div>
    </div>
      <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Symptoms</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="Sym" value="@Model.patient.Symptoms">
        </div>
    </div>
      <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Allergies</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="All" value="@Model.patient.Allergies">
        </div>
    </div>
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Visit Date</label>
        <div class="col-sm-6">
            <input type="date" class="form-control" name="Visit" value="@Model.patient.visit_date">
        </div>
    </div>
    @if(Model.successMessage.Length>0){
        <div class="row mb-3">
      <div class="col-sm-9">
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <strong>@Model.successMessage</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="close"></button>
    </div>
    </div>
    </div>
}
    <div class="row mb-3">
        <div class="offset-sm-3 col-sm-3 d-grid">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
        <div class="col-sm-3 d-grid">
            <a class="btn btn-outline-primary" href="/" role="button">Cancel</a>
        </div>
    </div>
</form>
