@page
@model clinicHealth.Pages.AdminPage.createAppointmentModel
@{
}
<br>
<h2>New Doctor</h2>
@if(Model.errorMessage.Length>0){
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <strong>@Model.errorMessage</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="close"></button>
    </div>
}
<form method="POST">
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label"> Full Name</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="name" value="@Model.appointment.full_name">
        </div>
    </div>
     <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Visit Date</label>
        <div class="col-sm-6">
            <input type="date" class="form-control" name="date" value="@Model.appointment.appointment_date">
        </div>
    </div>
        <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Time</label>
        <div class="col-sm-6">
            <input type="time" class="form-control" name="hour" value="@Model.appointment.hour">
        </div>
    </div>
    @if(Model.successMessage.Length>0){
        <div class="row mb-3">
      <div class="col-sm-9">
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <strong>@Model.successMessage</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="close"></button>
    </div>
    </div>
    </div>
}
    <div class="row mb-3">
        <div class="offset-sm-3 col-sm-3 d-grid">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
        <div class="col-sm-3 d-grid">
            <a class="btn btn-outline-primary" href="/" role="button">Cancel</a>
        </div>
    </div>
</form>
